<!DOCTYPE html>
<html>
    <head>
        <title>Edit profile</title>
    </head>
    <body>
        <h2>Edit profile</h2>
            <label for="firstName">Enter firstname:</label>
            <input id="firstName" type="text" placeholder="Firstname" name="firstName" required/>
                <br></br>
            <label for="lastName">Enter lastname:</label>
            <input id="lastName" type="text" placeholder="Lastname" name="lastName" required/>
                <br></br>
            <label for="password">Enter password:</label>
            <input id="password" type="password" placeholder="Password" name="password" required/>
                <br></br>
            <label for="birthday">Enter birthday: </label>
            <input id="birthday" type="date" id="birthday" name="birthday" required>
                <br></br><br>
            <button type="button" onclick="editProfile()">Save changes</button>
            <button id="profileButton" onclick="location.href='/profile'">Back to profile</button>
        <script src="/view/editProfile.js"></script>
    </body>
</html>