<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to Tinder 2.0</h1>
        <i>Choose a button now to find love now!</i>
        <br><br><br>
    <div id="signUp">
        <label for=""><b>Get started:</b></label>
        <br><br>
        <button type="button" onclick="location.href='/signup'">Sign up</button>
    </div>
        <br><br><br>
    <div id="logIn">
        <label for=""><b>Continue the chase:</b></label>
        <br><br>
        <button type="button" onclick="location.href='/login'">Log in</button>
    </div>
</body>
</html> 