<!DOCTYPE html>
<html>
    <head>
        <title>Login </title>
    </head>
    <body>
        <h2>Login:</h2>
            <label for="email">E-mail:</label>
            <input id="email" type="text" placeholder="Enter Email" name="email"/>
                <br></br>
            <label for="password">Password:</label>            
            <input id="password" type="password" placeholder="Enter Password" name="password"/>
                <br></br>
            <button id="logInButton" onclick="logIn()">Log in</button> 
            <button id="homepageButton" onclick="location.href='/'">Return to homepage</button> 
        <script src="/js/login.js"></script>
    </body>
</html>