<!DOCTYPE html>
<html>
    <head>
        <title>Login </title>
    </head>
    <body>
        <form action="/login" method="POST" id="logInForm" onsubmit="rememberLogIn()"> 
            <b>Login:</b>
                <br><br>
            <label for="logInEmail">E-mail:</label>
            <input id="logInEmail" type="text" placeholder="Enter Email" name="logInEmail"/>
                <br></br>
            <label for="logInPassword">Password:</label>
            <input id="logInPassword" type="password" placeholder="Enter Password" name="logInPassword"/>
                <br></br>
            <input id="logInButton" type="submit" value="Log in"/> 
       </form>
       <script type="text/javascript" src="/localStorage.js"></script>
    </body>
</html>