<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <form id="signUpForm"> 
            <b>Sign Up:</b>
                <br><br>
                <label for="fullname">Enter Fullname:</label>
                <input id="fullname" type="text" placeholder="Fullname" value=""/>
                    <br></br>
                <label for="signUpPassword">Enter Password:</label>
                <input id="signUpPassword" type="password" placeholder="Password" value=""/>
                    <br></br>
                <label for="signUpEmail">Enter email:</label>
                <input id="signUpEmail" type="email" placeholder="example@mail.com">
                    <br></br>
                <label for="birthday">Enter Birthday: </label>
                <input id="birthday" type="date" id="birthday">
                    <br></br>
                
            <p>Select your gender:</p>
                <input type="radio" name="gender" value="female" id="genderFemale">
                <label for="female">Female</label>
                <input type="radio" name="gender" value="male" id="genderMale">
                <label for="male">Male</label>
                    <br></br>
    
             <p>Select your interest:</p>
                <input type="radio" value="female" id="interestFemale">
                <label for="female">Female</label>
                <input type="radio" value="male" id="interestMale">
                <label for="fale">Male</label>
                <input type="radio" value="both" id="interestBoth">
                <label for="both">Both</label>
                    <br></br>
            
            <input id="signUpButton" type="submit" value="Sign Up"/> 
        </form>
        <script type="text/javascript" language="javascript" src="../controller/usercontroller.js"></script>
    </body>
</html>