<!DOCTYPE html>
<html>
    <head>
        <title>Login </title>
    </head>
    <body>
        <form id="login-form"> 
            <p>Login:</p>
            <label for="loginEmail">E-mail:</label>
            <input id="loginEmail" type="text" placeholder="Enter Email" />
                <br></br>
            <label for="loginPassword">Password:</label>
            <input id="loginPassword" type="password" placeholder="Enter Password"/>
                <br></br>
            <input id="loginButton" type="submit" value="Login" onClick="check()"/> 
       </form>
    <script type="text/javascript" language="javascript" src="/storage/localStorage.js"></script>

    </body>
</html>