<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <form action="/signup" method="POST" id="signUpForm"> 
            <b>Sign Up:</b>
                <br><br>
                <label for="fullname">Enter Fullname:</label>
                <input id="fullname" type="text" placeholder="Fullname" name="fullname"/>
                    <br></br>
                <label for="signUpPassword">Enter Password:</label>
                <input id="signUpPassword" type="password" placeholder="Password" name="password"/>
                    <br></br>
                <label for="signUpEmail">Enter email:</label>
                <input id="signUpEmail" type="email" placeholder="example@mail.com" name="email">
                    <br></br>
                <label for="birthday">Enter Birthday: </label>
                <input id="birthday" type="date" id="birthday" name="birthday">
                    <br></br>
                
            <p>Select your gender:</p>
                <input type="radio" value="female" id="genderF" name="gender" >
                <label for="female">Female</label>
                <input type="radio" value="male" id="genderM" name="gender">
                <label for="male">Male</label>
                    <br></br>
    
             <p>Select your interest:</p>
                <input type="radio" value="female" id="interestF" name="interest">
                <label for="female">Female</label>
                <input type="radio" value="male" id="interestM" name="interest">
                <label for="fale">Male</label>
                <input type="radio" value="both" id="interestB" name="interest">
                <label for="both">Both</label>
                    <br></br>
            
            <input id="signUpButton" type="submit" value="Sign Up"/> 
        </form>
    </body>
</html>