<!DOCTYPE html>
<html>
    <head>
        <title>Edit profile</title>
    </head>
    <body>
        <h2>Edit profile</h2>
            <label for="firstName">Enter firstname:</label>
            <input id="firstName" type="text" placeholder="Firstname" name="firstName" required/>
                <br></br>
            <label for="lastName">Enter lastname:</label>
            <input id="lastName" type="text" placeholder="Lastname" name="lastName" required/>
                <br></br>
            <label for="password">Enter password:</label>
            <input id="password" type="password" placeholder="Password" name="password" required/>
                <br></br>
            <label for="birthday">Enter birthday: </label>
            <input id="birthday" type="date" id="birthday" name="birthday" required>
                <br></br><br>

        <b>Gender:</b>
                <br><br>
            <input type="radio" value="Female" id="genderF" name="gender">
            <label for="female">Female</label>
            <input type="radio" value="Male" id="genderM" name="gender">
            <label for="male">Male</label>    
                <br></br><br>

        <b>Interest:</b>
                <br><br>
            <input type="radio" value="Female" id="interestF" name="interest">
                <label for="female">Female</label>
             <input type="radio" value="Male" id="interestM" name="interest">
            <label for="fale">Male</label>  
            <input type="radio" value="Both" id="interestB" name="interest">
            <label for="both">Both</label>
                <br></br><br>
            <button type="button" onclick="editProfile()">Save changes</button>
        <script src="/view/editProfile.js"></script>
    </body>
</html>