<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to Tinder 2.0</h1>
    <p>Choose a button now to find love!</p>
    <br>
    <div id="signUp">
        <label for="">Sign up</label>
        <button type="button" onclick="location.href='/signup'">Sign up</button>
    </div>
    <br>
    <div id="logIn">
        <label for="">Log in</label>
        <button type="button" onclick="location.href='/login'">Log in</button>
    </div>
</body>
</html>