<!DOCTYPE html>
<html>
    <head>
        <title>Login </title>
    </head>
    <body>
        <form id="logInForm"> 
            <b>Login:</b>
                <br><br>
            <label for="logInEmail">E-mail:</label>
            <input id="logInEmail" type="text" placeholder="Enter Email" name="logInEmail"/>
                <br></br>
            <label for="logInPassword">Password:</label>
            <input id="logInPassword" type="password" placeholder="Enter Password" name="logInPassword"/>
                <br></br>
            <button id="logInButton" onclick="logIn()">Log in</button> 
       </form>
       <script src="./login.js"></script>
    </body>
</html>