<!DOCTYPE html>
<html>   
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Profile</h1>
        <button id="matchPageButton" onclick="location.href='/matchPage'">Start matching!</button> 
        <button id="showMatches" onclick="location.href='/showMatches'">Current matches</button> 
            <br><br><br>
        <b>Name: </b>
            <p id="fullName"></p>
                <br><br>
        <b>E-mail:</b>
            <p id="email"></p>
                <br><br>
        <b>Birthday:</b>
            <p id="birthday"></p>
                <br><br>
        <b>Gender:</b>
            <p id="gender"></p>
                <br><br>
        <b>Interested in:</b>
            <p id="interest"></p>
                <br><br>
            <button id="editButton" onclick="location.href='/editProfile'">Edit profile</button> 
            <button id="logOutButton" onclick="logOut()">Log out</button>
            <button id="deleteButton" onclick="location.href='/deleteProfile'">Delete profile</button> 
        <script src="/view/profile.js"></script>
    </body>
</html>