<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h2>Sign Up:</h2>
            <label for="firstName">Enter firstname:</label>
            <input id="firstName" type="text" placeholder="Firstname" name="firstName" required/>
                <br></br>
            <label for="lastName">Enter lastname:</label>
            <input id="lastName" type="text" placeholder="Lastname" name="lastName" required/>
                <br></br>
            <label for="password">Enter password:</label>
            <input id="password" type="password" placeholder="Password" name="password" required/>
                <br></br>
            <label for="email">Enter email:</label>
            <input id="email" type="email" placeholder="example@mail.com" name="email" required>
                <br></br>
            <label for="birthday">Enter birthday: </label>
            <input id="birthday" type="date" id="birthday" name="birthday" required>
                <br></br><br>
        <b>Select your gender:</b>
                <br><br>
            <input type="radio" value="Female" id="genderF" name="gender">
            <label for="female">Female</label>
            <input type="radio" value="Male" id="genderM" name="gender">
            <label for="male">Male</label>    
                <br></br><br>
        <b>Select your interest:</b>
                <br><br>
            <input type="radio" value="Female" id="interestF" name="interest">
            <label for="female">Female</label>
            <input type="radio" value="Male" id="interestM" name="interest">
            <label for="fale">Male</label>  
                <br></br><br>  
            <button type="button" onclick="signUp()">Sign up</button>
            <button type="button" onclick="location.href='/'">Back to homepage</button>
        <script src="/view/signup.js"></script>
    </body>
</html>